@import 'reset.css';
$ae:darkcyan;
$er:skyblue;
$hk:dodgerblue;
$ksr:peachpuff;
$kt:forestgreen;
$mos:brown;
$sb:violet;
$sh:greenyellow;
$tc:orange;
$tko:purple;
$tw:crimson;
$wch:indigo;
$wr:mediumorchid;
@mixin border($radius:10px){border-radius:$radius;}

.ae{background:$ae;color:white;@include border()}
.er{background:$er;color:black;@include border}
.hk{background:$hk;color:black;@include border}
.ksr{background:$ksr;color:black;@include border}
.kt{background:$kt;color:black;@include border}
.mos{background:$mos;color:white;@include border}
.sb{background:$sb;color:black;@include border}
.sh{background:$sh;color:black;@include border}
.tc{background:$tc;color:black;@include border}
.tko{background:$tko;color:white;@include border}
.tw{background:$tw;color:white;@include border}
.wch{background:$wch;color:white;@include border}
.wr{background:$wr;color:white;@include border}
.erwrmos{background:linear-gradient(to right,$wr 33%,$er 33%,$er 67%,$mos 67%);color:black;@include border}
.twkt{background:linear-gradient(to right,$tw 50%,$kt 50%);color:white;@include border}
.erksr{background:linear-gradient(to right,$ksr 50%,$er 50%);color:black;@include border}
.wrksr{background:linear-gradient(to right,$wr 50%,$ksr 50%);color:black;@include border}
.ermos{background:linear-gradient(to right,$er 50%,$mos 50%);color:black;@include border}
.erkt{background:linear-gradient(to right,$kt 30%,$er 30%,$er 70%,$kt 70%);color:black;@include border}
.ktmos{background:linear-gradient(to right,$kt 50%,$mos 50%);color:white;@include border}
.twtc{background:linear-gradient(to right,$tc 50%,$tw 50%);color:white;@include border}
.twwr{background:linear-gradient(to right,$tw 50%,$wr 50%);color:white;@include border}
.wrtc{background:linear-gradient(to right,$tc 50%,$wr 50%);color:white;@include border}
.tcsb{background:linear-gradient(to right,$tc 50%,$sb 50%);color:black;@include border}
.aetc{background:linear-gradient(to right,$ae 50%,$tc 50%);color:black;@include border}
.kttko{background:linear-gradient(to right,$kt 50%,$tko 50%);color:$tc;@include border}
.ertko{background:linear-gradient(to right,$er 50%,$tko 50%);color:$tc;@include border}
.hktko{background:linear-gradient(to right,$hk 50%,$tko 50%);color:$tc;@include border}
.tctko{background:linear-gradient(to right,$tc 50%,$tko 50%);color:white;@include border}
.hkwch{background:linear-gradient(to right,$hk 50%,$wch 50%);color:white;@include border}
.twhk{background:linear-gradient(to right,$hk 50%,$tw 50%);color:white;@include border}
.wchsh{background:linear-gradient(to right,$wch 50%,$sh 50%);color:$tc;@include border}
.adm{background:linear-gradient(to right,$sh 25%,$hk 25%,$hk 50%,$tw 50%,$tw 75%,$er 75%);color:white;@include border}

body{background:black;line-height:1.3}
tr{
	padding:5px;
	vertical-align:middle;
}
td{
	@extend tr;
	color:yellow;
}
table{
	@extend tr;
	border-spacing:5px;
	border-collapse:separate;
}
